@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&family=Roboto:wght@400;700&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --body-bg: #f5f5f5;
  --prime: #358EF1;
  --text: #3a3c4c;
  --card-bg: #fff;
  font-size: 14px;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #0001;
}

::-webkit-scrollbar-thumb {
  background: #0003;
}

::-webkit-scrollbar-thumb:hover {
  background: #0005;
}

body {
  margin: 0;
  padding: 60px 0 0;
  height: 100vh;
  background: var(--body-bg);
  color: var(--text);
  display: flex;
  flex-direction: column;
}

.app-header {
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #FFF;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  box-shadow: 0 3px 10px #0001;
}

.brand {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
}

.brand::before {
  content: '';
  border: 2px solid var(--prime);
  margin-right: 0.75rem;
  height: 1.5rem;
  width: 2.5rem;
  position: relative;
  border-radius: 6rem;
  background-image: radial-gradient(var(--prime) 50%, transparent 50%);
  background-size: 1.5rem 1.5rem;
  background-repeat: no-repeat;
  background-position: -0.1rem center;
  animation: 1s 1s brandAnim;
}

@keyframes brandAnim {
  0%,
100% {
    background-position: -0.1rem center;
  }
  50% {
    background-position: 0.8rem center;
  }
}

#app {
  height: calc(100vh - 90px);
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: auto;
}

.section {
  min-width: 200px;
  width: 33.33%;
  height: 300px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

@media (max-width: 1024px) {
  .section {
    width: 50%;
  }
}

.section button {
  position: absolute;
  bottom: 30px;
  left: 50%;
  padding: 7px 10px;
  border: none;
  background: #424242;
  font-weight: 800;
  color: #fff;
  white-space: nowrap;
  cursor: pointer;
  border-radius: 4px;
  transform: translateX(-50%);
  opacity: 0;
  transition: 0.2s ease-in;
}

.section button:hover {
  opacity: 1;
  transform: translateX(-50%) scale(1.1);
}

.card {
  width: 100%;
  height: 100%;
  background: var(--card-bg);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 60px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
  transition: .2s linear;
}

.card:hover {
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.2);
}

.card:hover + button {
  opacity: 1;
}

footer {
  background: #0001;
  padding: 0.5rem;
  text-align: center;
  color: #ccc;
  width: 100%;
  font-size: 0.75rem;
}

footer a {
  color: #333;
  transition: .2s ease;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}

.overlay.in {
  visibility: visible;
  opacity: 1;
}

.btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 5;
  line-height: 20px;
  height: 20px;
  width: 20px;
  font-size: 26px;
  font-weight: 400;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
}

.btn-close:hover {
  opacity: 0.8;
  transform: rotate(-90deg) scale(1.3);
}

.popup {
  position: relative;
  transform: translateY(-20px);
  background: #eee;
  padding: 20px 15px;
  max-width: 600px;
  min-height: 400px;
  margin: 20px auto;
  width: 100%;
  transition: 0.2s ease-in;
}

.in .popup {
  transform: translateY(10px);
}

.showcase {
  background: #fff;
  margin-bottom: 15px;
}

.showcase .section {
  width: 100%;
  height: 300px;
  padding: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase .section .card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.code-area {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}

.code-area .code-header {
  padding: 5px 10px;
  background: #222;
  color: #fff;
  font-size: 14px;
  position: relative;
}

.code-area + .code-area {
  margin-top: 10px;
}

.copy {
  outline: none;
  border: none;
  background: #000;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 3px 8px;
  cursor: pointer;
  user-select: none;
}

.copy::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 12px;
  border: 1px solid #fff;
  box-shadow: 2px -2px #000, 3px -3px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

code {
  background: #000;
  padding: 5px 10px;
  display: block;
  white-space: pre;
  color: #03a9f4;
  min-height: 30px;
  font-size: 14px;
  line-height: 18px;
}

#markup {
  color: #f4a003;
}

#css {
  max-height: 200px;
  overflow: auto;
}
